@import "tailwindcss";

:root {
  --background: #f8f8f8;
  --foreground: #1e1e1e;
  --brand: #eb4034;
  --secondary-text: #6c6c6c;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

body {
  background: var(--background);
  color: var(--foreground);
}
html {
  scroll-behavior: smooth;
}
.gridCustom {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}
